@import "../../abstr/mixin";

.gaming__chip {
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: end;
    // padding-right: 4rem;
    gap: 1rem;


    @include anima-size {
        display: flex;
        flex-direction: column;
        overflow: visible;
    }

    @include desktop {
        margin: 0 1%;
    }

    @include tablet{
        gap: 0.6rem;
    }
}

.line1,
.line2,
.line3 {
    // width: 22%;
    width: 100px;
    flex-basis: 100px;

    & picture {
        display: block;
        @include laptop{
            display: inline;
        }
    }

    @include anima-size {
        display: flex;
    }

    @include laptop {
        width: 290%;
        flex-basis: auto;
    }

}

.marquee {
    white-space: nowrap;
    animation: marquee 8s linear infinite;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    width: 100%;

    @include anima-size {
        // display: flex;
        animation: marquee-mobile 5000ms linear infinite;
        -webkit-animation: marquee-mobile 5000ms linear infinite;
        -moz-animation: marquee-mobile 5s linear infinite; /* FF <= 15 */
        -o-animation: marquee-mobile 5000ms linear infinite; /* Opera 12 */
        -ms-animation: marquee-mobile 5000ms linear infinite;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    @include tablet{
        // width: auto;
    }


}

.line2 .marquee {
    animation: marqueeD 5s linear infinite;
    -webkit-animation-fill-mode: forwards;

    @include anima-size {
        display: flex;
        animation: marquee-mobileR 5s linear infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}


.line3 .marquee {
    animation-duration: 8s;
    -webkit-animation-fill-mode: forwards;

    @include anima-size {
        animation-duration: 12s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }
}



.marquee img {
    // width: 100px; /* Установите ширину изображений по вашему желанию */
    height: auto;
    width: 100%;
    margin: 0 0px;


    /* Расстояние между изображениями */
    @include anima-size {
        margin: 0 7px 0;
    }

    @include laptop {
        width: auto;
    }
}

/* Горизонтальная анимация для мобильных устройств  */