@import "../../abstr/mixin";

.gaming__chip {
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: end;
    // padding-right: 4rem;
    gap: 1rem;


    @include anima-size {
        display: flex;
        flex-direction: column;
        overflow: visible;
    }

    @include desktop {
        margin: 0 1%;
    }

    @include laptop {
        width: 100%;
    }

    @include tablet {
        gap: 0.6rem;
    }
}

.line1,
.line2,
.line3 {
    width: 100px;
    height: 242%;
    flex-basis: 100px;

    & picture {
        display: block;
        // margin: 24px 0 0;
        padding: 24px 0 0;

        @include desktop-wide {
            // margin: 12px 0;
            padding: 12px 0 0;
        }

        @include laptop {
            display: inline;
            margin: 0px 0px;
            padding: 0 13.5px 0 0;
        }
    }

    @include anima-size {
        display: flex;
    }

    @include laptop {
        flex: 1;
        width: max-content;
        // flex-basis: auto;
    }

}

.line1 {
    opacity: 20%;

    @include laptop {
        opacity: 40%;
    }
}

.line2 {
    opacity: 60%;
}

.line3 {
    opacity: 40%;

    @include laptop {
        opacity: 21%;
    }
}

.marquee {
    white-space: nowrap;
    animation: marquee 12s linear infinite;
    -webkit-animation: marquee 12000ms linear infinite;
    -moz-animation: marquee 12000ms linear infinite;
    /* FF <= 15 */
    -o-animation: marquee 12000ms linear infinite;
    /* Opera 12 */
    -ms-animation: marquee 12000ms linear infinite;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    width: 100%;
    height: min-content;

    @include anima-size {
        animation: marquee-mobile 9000ms linear infinite;
        -webkit-animation: marquee-mobile 9000ms linear infinite;
        -moz-animation: marquee-mobile 9000ms linear infinite;
        /* FF <= 15 */
        -o-animation: marquee-mobile 9000ms linear infinite;
        /* Opera 12 */
        -ms-animation: marquee-mobile 9000ms linear infinite;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        width: 200%;
    }
}

.line2 .marquee {
    animation: marqueeD 8s linear infinite;
    -webkit-animation: marqueeD 8000ms linear infinite;
    -moz-animation: marqueeD 8000ms linear infinite;
    /* FF <= 15 */
    -o-animation: marqueeD 8000ms linear infinite;
    /* Opera 12 */
    -ms-animation: marqueeD 8000ms linear infinite;
    -webkit-animation-fill-mode: forwards;

    @include anima-size {
        animation: marquee-mobileR 8500ms linear infinite;
        -webkit-animation: marquee-mobileR 8500ms linear infinite;
        -moz-animation: marquee-mobileR 8500ms linear infinite;
        /* FF <= 15 */
        -o-animation: marquee-mobileR 8500ms linear infinite;
        /* Opera 12 */
        -ms-animation: marquee-mobileR 8500ms linear infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    @include laptop {
        width: 100%;
    }
}


.line3 .marquee {
    animation-duration: 9s;
    -webkit-animation-fill-mode: forwards;

    @include anima-size {
        animation: marquee 12s linear infinite;
        -webkit-animation: marquee-mobile 12000ms linear infinite;
        -moz-animation: marquee-mobile 12000ms linear infinite;
        /* FF <= 15 */
        -o-animation: marquee-mobile 12000ms linear infinite;
        /* Opera 12 */
        -ms-animation: marquee-mobile 12000ms linear infinite;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }
}



.marquee img {
    height: auto;
    width: 100%;
    margin: 0 0px;

    /* Расстояние между изображениями */
    @include anima-size {
        margin: 0 0px 0;
    }

    @include laptop {
        width: auto;
    }
}