@import "../abstr/const";
@import"../abstr/mixin";



html {
    font-size: calc(10px + (16 - 10) * (100vw - 700px) / (1920 - 700));
}

html,
body {
    height: 100%;
}

body {
    background-color: $main-dark;
    font-family: Lexend, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 400;
}

body.fancybox-active {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 300ms;
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover {
        color: $main;
        border-bottom: 1px solid $main;
        transition: all 0.7s;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    white-space: nowrap;
    list-style-type: none;
    /* Убираем маркеры */
}

.lock {
    overflow: hidden;
}



.nav__menu {
    padding-top: 0.7rem;
    padding-left: 0.2rem;
    margin: 0 1rem;

    @include desktop {
        padding-top: 0rem;
        padding-left: 0.2rem;
        margin: auto 1rem;
    }
}


.header .menu {
    display: flex;
    // flex: 1;
    // justify-content: center;
    // padding-left: 12%;
    padding-top: 1%;
    gap: 2.1rem;
    width: 35.6rem;

    & li {

        // text-align: center;
    }

    @include desktop {
        // width: 29.8rem;
        gap: 0.9rem;
        width: 29rem;
    }
}


.logo {
    display: flex;


    a {
        margin: auto;
        border-bottom: 0px;

        &:hover {
            border-bottom: 0px;
        }
    }

    .shot-logo-img {
        display: none;
    }

    @include desktop {
        width: 22%;

        a {
            margin-top: 4.3%;
        }

        a,
        img {
            width: 100%;
        }
    }

    @include tablet {
        width: auto;

        .logo-img {
            display: none;
        }

        .shot-logo-img {
            display: inline;
            height: auto;
            vertical-align: middle;
        }

        a {
            margin-top: 0%;
            border: 0px;
            margin: auto;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 0.9%;
    min-height: 98.7%;
    overflow-x: hidden;

    @include anima-size {
        overflow-x: hidden;
    }

    @include tablet {
        padding-top: 3%;
    }
}

.menu li {
    flex: 1;

    @include desktop-wide {
        flex: 1;
    }
}

.menu li:not(:last-child) {
    // padding-right: 6.4%;

}

.main {
    flex: 1 0 auto;

}

.list {
    font-size: 1rem;
    line-height: 1.25rem;
}

.header {
    border-radius: 64px;
    border: 4px solid $main-navy;

    margin: 0 7.3%;
    padding: 1.1rem 2.9rem 1.2rem;

    .header__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .header__btns {
        display: flex;
        justify-content: end;
        // flex: 1;
        width: 19.6%;
        gap: 1rem;

        & .switch .slider::before,
        & div,
        & input {
            font-size: 1rem;

            @include desktop {
                font-size: 0.8rem;
            }
        }

        & div,
        & input {
            cursor: pointer;
            padding: 4.2%;
            border: 2px solid $additional-purple;
            color: #ffffff;
            background-color: transparent;
            border-radius: 24px;
            text-transform: uppercase;
            // height: fit-content;
        }

        & .switch {
            border: 0px;
        }

        & input:last-child {
            background-color: $main;
            border: 0px;
        }

        .header__toggle {
            display: flex;
            // padding-left: 3.6%;
            border: 2px solid $additional-purple;
            border-radius: 24px;
            flex-basis: 61px;
            padding: 0 1.4%;

            img {
                width: 1rem;
                height: 1rem;
                margin: auto;
                margin-left: 9%;

                @include desktop {
                    width: 16px;
                    height: 16px;
                }
            }

            &> :not(.header__toggle) {
                // flex: 1;
                // flex-basis: auto;
            }

            .space {
                width: 8px;
                padding: 0;
                margin: 0;
                border: 0;
            }

            @include tablet {
                display: none;
            }
        }

        @include desktop-wide{
            width: 22%;
        }

        @include desktop {
            gap: 0.5rem;
            width: 24%;
        }

    }

    @include desktop {

        padding: 1.1rem 0.7rem 1.2rem;
    }

    @include tablet {
        padding: 1rem 2.5rem 0.9rem 1.7rem;
        border: 2px solid $main;
        margin: 0 3.1%;


    }
}




.toggle__pic {
    height: fit-content;
    margin: auto;
}

.burger-block {
    display: none;

    @include tablet {
        display: flex;
        justify-content: space-between;
        width: calc(68px + (101 - 68) * ((100vw - 320px) / (768 - 320)));
        gap: 19%;
    }
}

// pic burger
.toggle__burger {
    display: none;

    @include tablet {
        display: inline;
        border-radius: 50%;
        border: 2px solid $additional-purple;
        width: 20px;
        padding: 6px;
        flex: 1;
    }
}

//  burger icon
.burger__icon {
    display: none;

    @include tablet {
        display: block;
        z-index: 1;
        position: relative;
        width: 28px;
        height: calc(14px + (28 - 14) * (100vw - 320px) / (768 - 320));
        margin: auto 0;
        flex: 0.9;

        .burger__icon-stripe,
        &::after,
        &::before {
            left: 0;
            position: absolute;
            height: calc(2px + (4 - 2) * (100vw - 320px) / (768 - 320));
            width: 100%;
            border-radius: 10% / 100%;
            background-color: $light;
        }

        .burger__icon-stripe {
            visibility: visible;
            opacity: 1;
            top: 50%;
            transform: scale(1) translate(0px, -50%);
            transition: all 0.7s;
        }

        &::after,
        &::before {
            content: "";
        }

        &::after {
            top: 0;
            transition: all 0.7s;
        }

        &::before {
            bottom: 0;
            transition: all 0.7s;
        }
    }
}

// main
.main,
.footer__wrapper {
    padding: 0 7%;
    // Для footer указан margin
}

.main {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    position: relative;

    & .title {
        margin: auto 0;
        transform: translateY(-14%);
        z-index: 1;
        position: relative;

        & .h1 {
            font-size: calc(5.6rem + (16.5 - 5.6) * (100vw - 1024px) / (1920 - 1024));
            line-height: 6rem;
            font-weight: 500;
            margin-bottom: 0;

            @include laptop {
                font-size: calc(46px + (66 - 46) * (100vw - 320px) / (1024 - 320));
            }

        }

        & .title__descript {
            font-size: calc(1.6rem + (8 - 1.6) * (100vw - 1024px) / (1920 - 1024));
            line-height: 2rem;
            font-weight: 500;
            margin-top: 4%;
            margin-bottom: 8%;

        }

        & .title__btn {
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
            background: $main;
            color: #ffffff;
            border-radius: 48px;
            padding: 3.56% 12.26%;

            @include tablet {
                padding: 19px 55px;
            }
        }



        @include anima-size {
            flex: 1;
            padding-bottom: 2%;
            transform: translateY(0%);
        }

        @include laptop {
            padding-bottom: 30px;
            padding-top: 41px;

            .title__descript {
                margin: 0;
                padding: 12px 0 24px;
                font-size: 20px;
                line-height: 26px;
            }

            .title__btn {
                font-size: 18px;

            }
        }

    }

    @include anima-size {
        flex: 1;
        padding-bottom: 2%;
        flex-direction: column;
    }

    @include desktop-wide {
        gap: 2rem;
    }

    @include desktop {
        gap: 0rem;
    }

    @include laptop {
        text-align: center;
    }

    @include tablet {
        padding: 0 3.1%;
    }
}

.title,
.blog {
    position: relative;
    z-index: 3;
}

.main::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(180deg, transparent 0%, rgba(17, 10, 29, 1) 100%);

    @include laptop {
        display: none;
    }
}

.title__color {
    color: $main;
}

.dot__light-up {
    pointer-events: none;
    width: $dot-up-width;
    height: $dot-up-height;
    position: absolute;
    transform: rotate(-54.311deg);
    z-index: 3;
    background: linear-gradient(180deg, #478BF9 0%, rgba(71, 139, 249, 0.41) 100%);
    opacity: 0.55;
    filter: blur($dot-up-blur);
    left: calc(84px + (75 - 84) * (100vw - 320px) / (1920 - 320));
    top: calc(-100px + (-400 + 100) * (100vw - 320px) / (1920 - 320));
    border-radius: 50%;
}

.dot__light-down {
    pointer-events: none;
    position: absolute;
    bottom: calc(0px + (0 - 141) * (100vw - 320px) / (1920 - 320));
    right: calc(-97px + (-189 + 97) * (100vw - 320px) / (1920 - 320));
    z-index: 3;
    width: $dot-down-size;
    height: $dot-down-size;
    border-radius: 50%;
    opacity: 0.7;
    background: linear-gradient(256deg, #478BF9 0%, #9DADF2 100%);
    filter: blur($dot-down-blur);
}

.footer {
    flex: 0 0 auto;
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 64px 64px 0px 0px;
    border-top: 4px solid $main;
    border-right: 4px solid $main;
    border-left: 4px solid $main;
    background-color: $main-dark;
    position: relative;
    z-index: 3;

    @include tablet {
        border-radius: 50px 50px 0px 0px;
        border-top: 2px solid #478BF9;
        border-right: 2px solid #478BF9;
        border-left: 2px solid #478BF9;
        padding-top: 5.8%;
        padding-bottom: 9.4%;
    }
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;

    @include tablet {
        display: block;
        font-size: 14px;
        padding: 0 6%;
    }

}

.footer__menu {
    display: flex;
    flex: 0 0 auto;
    gap: 9.3%;

    & li {
        align-self: end;

        @include tablet {
            padding-bottom: 2%;
        }
    }

    @include tablet {
        display: block;
    }
}

.gooter__wrapper {
    justify-content: space-between;
    padding: 0 7%;
}

.footer-social {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    & .social__title {
        text-align: end;
        padding-bottom: 14px;

        @include tablet {
            text-align: start;
            padding-bottom: 11px;
            padding-top: 7%;
        }
    }
}

.footer__soc-menu {
    display: flex;
    flex: 0 0 auto;
    gap: 8px;

    li {
        background-image: url("./source/img/pic_social/BG.png");
        background-position: center center;
        background-size: contain;
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        transition: background-image 0.7s;

        &:hover {
            background-image: url("./source/img/pic_social/BGH.png");
            transition: all 0.7s;
        }

        @include tablet {
            width: 3.1rem;
            height: 3.1rem;
        }

    }

    & a {
        height: 100%;
        width: 100%;
        display: flex;
        border-bottom: 0px solid transparent;
    }

    & img {

        display: block;
        margin: auto;
        width: 50%;
    }

    @include tablet {
        gap: 10px;
    }
}

// *,
// *::before,
// *::after {
//     border: 5px solid red;
// } 