@keyframes marquee {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes marqueeD {
    0% {
        transform: translateY(-130%);
    }

    100% {
        transform: translateY(-30%);
    }
}

@keyframes marquee-mobile {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(-110%);
    }
}

@keyframes marquee-mobileR {
    0% {
        transform: translateX(-130%);
    }

    100% {
        transform: translateX(-30%);
    }
}