$additional-fresh: #7DDACF;
$additional-purple: #9DADF2;
$main: #478BF9;
$main-hover: #000; //! grad main and additional-purple
$main-clean: #ffffff;
$main-deep: #1E1231;
$main-dark: #110A1D;
$main-navy: #478BF9;
$light: #ffffff;
$trans-light-mild: rgba($light, 0.12);
$trans-light-midle: rgba($light, 0.6);

$mobile: 320px;
$tablet: 768px;
$laptop:1024px;
$desktop: 1280px;
$desktop-wide: 1440px;
$anima-size:1024px;

$dot-down-size: calc(240px + (574 - 240) * (100vw - 320px) / (1920 - 320));
$dot-down-blur: calc(135px + (325 - 135) * (100vw - 320px) / (1920 - 320));

$dot-up-width: calc(81px + (226 - 81) * (100vw - 320px) / (1920 - 320));
$dot-up-height: calc(466px + (1302 - 466) * (100vw - 320px) / (1920 - 320));
$dot-up-blur: calc(39px + (150 - 39) * (100vw - 320px) / (1920 - 320));