@import "../abstr/mixin";

.main {
    @include tablet {}
}

.burger-block {
    position: relative;
}

.check-menu {
    display: none;
}

.label-burger {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 40%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}



.header .menu {
    @include tablet {
        flex-direction: column;
        width: 100%;
        width: calc(100% - 20px);
        padding: 0 10px;
        gap: 0.5rem;

        & li {
            border: 2px solid $main;
            padding: 13px 20px;
            border-radius: 28px;
            font-size: 2.2rem;
        }
    }
}

.check-menu:checked~.burger__icon::after {
    @include tablet {
        top: 39%;
        transform: rotate(45deg) translate(0px, 50%);
        transition: all 0.7s;
    }
}

.check-menu:checked~.burger__icon .burger__icon-stripe {
    @include tablet {
        visibility: hidden;
        opacity: 0;
        transform: scale(0);
        transition: all 0.8s linear;

    }
}

.check-menu:checked~.burger__icon::before {
    @include tablet {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        transition: all 0.7s;
    }
}

.nav__menu,
.header__btns {
    @include tablet {
        display: block;
        top: calc(97px + (115 - 97) * (100vw - 320px) / (768 - 320));
        left: 120%;
        position: fixed;
        z-index: 4;
        width: 100%;
        height: 100%;
        transition: top 0.3s;
        padding: 0;
        margin: 0;
        background: rgba($main-dark, 1);
        transition: left 1s;
    }
}

.header .header__btns {
    @include tablet {
        width: 100%;
        display: block;
        z-index: 4;
        padding: 0 10px;
        top: calc(451px + (510 - 451) * (100vw - 320px) / (768 - 320));
        background: rgba($main-dark, 0);
    }
}

.header .header__btns input {
    @include tablet {
        font-size: 16px;
        padding: 13px;
        margin-bottom: 1.5%;
        width: calc(100% - 20px);
    }
}

.header .header__btns .header__btns-login {
    @include tablet {
        background-color: $main-deep;
    }
}

.nav__menu.active,
.header__btns.active {
    @include tablet {
        display: block;
        position: fixed;

        z-index: 4;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba($main-dark, 1);
        transition: left 1s;
    }
}


.nav__menu.active {
    @include tablet {
        top: calc(97px + (115 - 97) * (100vw - 320px) / (768 - 320));

    }
}

.header__btns.active {
    @include tablet {
        top: calc(451px + (510 - 451) * (100vw - 320px) / (768 - 320));
        background: rgba(0, 0, 0, 0);
    }
}